<div class="container">
    <div class="row">
        <div class="col-sm">
            Breweries
            <ul class="list-group" *ngFor="let brewery of breweries">
                <button (click)="getDetails(brewery.name)" type="button" class="list-group-item list-group-item-action">{{brewery.name}}</button>
            </ul>
        </div>
        <div class="col-sm" *ngIf="exist">
            Detalles
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: {{b[0].name}}</li>
                    <li class="list-group-item">Tipo de cervecería: {{b[0].brewery_type}}</li>
                    <li class="list-group-item">Ciudad: {{b[0].city}}</li>
                    <li class="list-group-item">Estado: {{b[0].state}}</li>
                    <li class="list-group-item">País: {{b[0].country}}</li>
                    <li class="list-group-item">Teléfono: {{b[0].phone}}</li>
                    <li class="list-group-item">Website: {{b[0].website_url}}</li>
                </ul>

            </div>
        </div>
    </div>
</div>